[client]
port                               = 3306
socket                             = ${mysql.home}/tmp/mysql.sock
default-character-set              = utf8mb4


[mysql]
show-warnings
default-character-set = utf8mb4
socket                             = ${mysql.home}/tmp/mysql.sock


[mysqldump]
quick
quote-names
max_allowed_packet                 = 16M


[mysqld]
bind-address                       = 0.0.0.0
port                               = 3306

# Mysql服务的唯一编号 每个 mysql 服务 Id 需唯一
server-id                          = 1

basedir                            = 1
datadir                            = ${mysql.home}/data
pid-file                           = ${mysql.home}/tmp/mysqld.pid
socket                             = ${mysql.home}/tmp/mysql.sock
# 临时目录 比如 load data infile 会用到
tmpdir                             = ${mysql.home}/tmp
log-error                          = ${mysql.home}/logs/error.log

character-set-server               = utf8mb4
skip_name_resolve                  = 1

lock_wait_timeout                  = 3600
open_files_limit                   = 65535
back_log                           = 1024
max_connections                    = 512
max_connect_errors                 = 1000000
table_open_cache                   = 1024
table_definition_cache             = 1024
thread_stack                       = 512K
sort_buffer_size                   = 32M
join_buffer_size                   = 64M
read_buffer_size                   = 128M
read_rnd_buffer_size               = 16M
bulk_insert_buffer_size            = 128M
thread_cache_size                  = 768
interactive_timeout                = 600
wait_timeout                       = 600
tmp_table_size                     = 64M
max_heap_table_size                = 32M
# query_cache_size                 = 0

key_buffer_size                    = 32M
myisam_sort_buffer_size            = 128M

default-storage-engine             = INNODB
innodb_buffer_pool_size            = 512M
innodb_buffer_pool_instances       = 4
# innodb_data_file_path            = ibdata1:12M:autoextend
innodb_flush_log_at_trx_commit     = 1
innodb_log_buffer_size             = 32M
innodb_log_file_size               = 256M
innodb_log_files_in_group          = 3
innodb_max_undo_log_size           = 1G
innodb_io_capacity                 = 400
innodb_io_capacity_max             = 800
innodb_open_files                  = 65535
innodb_flush_method                = O_DIRECT
innodb_lru_scan_depth              = 4000
innodb_lock_wait_timeout           = 10
innodb_rollback_on_timeout         = 1
innodb_print_all_deadlocks         = 1
innodb_online_alter_log_max_size   = 4G
innodb_status_file                 = 1
innodb_status_output               = 0
innodb_status_output_locks         = 1
innodb_sort_buffer_size            = 67108864
innodb_adaptive_hash_index         = OFF

# log_error_verbosity              = 3
# slow_query_log                   = 1
slow_query_log_file                = ${mysql.home}/logs/slow.log
# long_query_time                  = 0.1
# log_queries_not_using_indexes    = 1
# log_throttle_queries_not_using_indexes = 60
min_examined_row_limit             = 100
log_slow_admin_statements          = 1
log_slow_slave_statements          = 1
log-bin                            = ${mysql.home}/bin-log/mysql
binlog_format                      = ROW
sync_binlog                        = 1
binlog_cache_size                  = 16M
max_binlog_cache_size              = 2G
max_binlog_size                    = 1G
binlog_rows_query_log_events       = 1
binlog_checksum                    = CRC32
gtid_mode                          = ON
enforce_gtid_consistency           = TRUE
# 大小写不敏感
lower_case_table_names             = 1
